<h1>Trumpet website homepage</h1>
<p>this is where all the ad copy goes </p>
<p>
	and also describe all the great features including the personal trumpet blogs. FOR FREE!
</p>

<p>sign up in top right corner.</p>

<style type="text/css">
body {background-image:url("/assets/USA.gif");}
</style>