<h1>Store order</h1>
<p>Paypal something to go here</p>

<p>However to prove that this is NOT A SCAM there is also a <%= link_to("shipping free alternative", :controller => 'public', :action => "pickup")%></p>
